[submodule "external/FreeRTOS"]
	path = external/FreeRTOS
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "external/tinyUSB"]
	path = external/tinyUSB
	url = git@github.com:hathach/tinyusb.git
[submodule "external/nrfx"]
	path = external/nrfx
	url = git@github.com:NordicSemiconductor/nrfx.git
[submodule "external/CMSIS_5"]
	path = external/CMSIS_5
	url = git@github.com:ARM-software/CMSIS_5.git
[submodule "external/uf2"]
	path = external/uf2
	url = git@github.com:microsoft/uf2
